.botonFav {
    color: darkred;
}

img {
    width: 120px;
    height: 190px;
}

.padre {
    text-align: center;
}

.contenedorPadre {
    display: flexbox;
}

.padreBoton {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.boton {
    align-items: center;
    background-color: black;
    cursor: pointer;
    border-radius: 10px;
    border: black;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    color: wheat;
    font-family: 'Roboto Condensed', sans-serif;
}