main {
    background-image: url(../../../public/img/Background.jpeg);
    background-size: cover;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

h2 {
    color: lightgoldenrodyellow;
}

h3 {
    color: rgb(255, 255, 255);
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

.padre {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    text-align: center;
}

img {
    align-self: center;
}

.seriesH1 {
    padding-top: 35px;
}

button {
    background-image: url(../../../public/img/Background.jpeg);
    color: white;
}